:root {
  /* Color Theme */
  --grayscale-offBlack: #14142b;
  --grayscale-ash: #262338;
  --grayscale-line: #d9dbe9;
  --grayscale-offWhite: #fcfcfc;

  --primary-default: #a996ff;

  --accent-green: #a6f787;

  /* Typography theme */
  --display-xs: 1.5rem;
  --body-medium: 1.125rem;
  --body-small: 1rem;
  --font-bold: 700;
  --font-regular: 400;

  /* Spacing */
  --spacing-12: 160px;
  --spacing-11: 80px;
  --spacing-10: 64px;
  --spacing-9: 48px;
  --spacing-8: 36px;
  --spacing-7: 32px;
  --spacing-6: 24px;
  --spacing-5: 20px;
  --spacing-4: 16px;
  --spacing-3: 12px;
  --spacing-2: 8px;
  --spacing-1: 4px;
  --spacing-0: 2px;

  /* Layout */
  --padding-x: 120px;
}
