.hero {
}

.hero__title {
  font-weight: 900;
  font-size: 4rem;
  line-height: 0;
}

.hero__subtitle {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  width: 40%;
}

.hero__subtitle span {
  margin: 0 5px;
  margin-bottom: -15px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.hero__subtitle span:hover {
  transform: scale(1.3) rotate(22.5deg);
}
