.hero {
  padding: var(--spacing-11) var(--padding-x);
  width: 40%;
}

.hero__title {
  color: var(--grayscale-offWhite);
}

.hero__title span {
  color: var(--primary-default);
}

.hero__subtitle {
  color: var(--grayscale-line);
  font-size: var(--body-small);
  margin-bottom: var(--spacing-8);
  line-height: 32px;
}

@media only screen and (max-width: 672px) {
  .hero {
    padding: var(--spacing-12) var(--spacing-6);
    width: 100%;
  }
}
